db/
incremental_db/
*.bak
*.rpt
*.summary

hdl/kim-1-ep2cs/kim.done
hdl/kim-1-ep2cs/kim.pin
hdl/kim-1-ep2cs/kim.sof
hdl/kim-1-ep2cs/kim.pof

hdl/kim-1-dueprologic/Kim_Frame_Top/output_files/

hdl/dueprologic-blinky/


board/kim1-earthpeople/kim1-earthpeople-backups
board/kim1-earthpeople/_autosave-kim1-earthpeople.kicad_pcb
/**/*.pof
/**/*.sof
/**/*.qws
